#spinner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

#spinner.d-none{
    display: none !important;
}

.spinner-border{
    width: 4rem;
    height: 4rem;
}
body{
    background-color: #f4f6f9;
}